<a href="https://colab.research.google.com/github/vaibhavsharma1379/assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs
import re

# **Read title of article from url**

In [ ]:
# importing the modules
import requests
from bs4 import BeautifulSoup
  
# target url
url = 'https://asiasociety.org/education/ramayana'
  
# making requests instance
reqs = requests.get(url)
  
# using the BeaitifulSoup module
soup = BeautifulSoup(reqs.text, 'html.parser')
  
# displaying the title
print("Title of the website is : ")
for title in soup.find_all('title'):
    print(title.get_text())

Title of the website is :
Ramayana | Asia Society
Ramayana | Asia Society

# **Read text from web url**

In [ ]:
import urllib.request
from bs4 import BeautifulSoup
  
# here we have to pass url and path
# (where you want to save ur text file)
urllib.request.urlretrieve("https://asiasociety.org/education/ramayana",
                           "/content/text_file.txt")
  
file = open("text_file.txt", "r")
contents = file.read()
soup = BeautifulSoup(contents, 'html.parser')
  
f = open("test1.txt", "w")
for data in soup.find_all("t"):
    sum = data.get_text()
    f.writelines(sum)
  
# traverse paragraphs from soup
for data in soup.find_all("p"):
    sum = data.get_text()
    f.writelines(sum)
  
f.close()

# **sentences in article**

In [ ]:
t=open('/content/test1.txt')
txt=t.read()
sentences_lst=txt.split('. ')
sen_dict={}
sen_dict['sentences']=sentences_lst
df=pd.DataFrame(sen_dict)
totel_sentence=df['sentences'].count()
totel_sentence

40

# **total no of words in article**

In [ ]:
# txt1=re.sub(r"[^a-zA-Z0-9]+", ' ',txt)
words_lst=txt.split(' ')
word_dict={}
word_dict['words']=words_lst
df1=pd.DataFrame(word_dict)
df1['words']=df1['words'].str.replace('.','')
df1['words']=df1['words'].str.replace(',','')
# convert words into lowrcase
df1=df1.applymap(lambda s:s.lower() if type(s)== str else s)
aw=df1.copy()
totel_words=df1['words'].count()
totel_words

873

In [ ]:
sw=pd.read_csv('/content/StopWords_GenericLong.txt')
sw

              a
0           a's
1          able
2         about
3         above
4     according
..          ...
565       yours
566    yourself
567  yourselves
568           z
569        zero

[570 rows x 1 columns]

In [ ]:
df1

       words
0         it
1      seems
2        the
3        web
4    browser
..       ...
868   solely
869    their
870      own
871    learn
872   more

[873 rows x 1 columns]

# **remove stopword **

In [ ]:
dw=df1['words'].isin(sw['a'])
df1.drop(df1[dw].index,inplace=True)
# tw=df1.copy()
# total_word_after_cleaning=tw['words'].count()
# total_word_after_cleaning
df1

          words
3           web
4       browser
8       support
12     features
15         site
..          ...
863     members
866  affiliates
868      solely
871       learn
872      more

[420 rows x 1 columns]

postive words

In [ ]:
pw=pd.read_csv('/content/positive-words.txt')
pw

     Postive Word
0              a+
1          abound
2         abounds
3       abundance
4        abundant
...           ...
2001     youthful
2002         zeal
2003       zenith
2004         zest
2005        zippy

[2006 rows x 1 columns]

# **total postive words**

In [ ]:
dw=tw['words'].isin(pw['Postive Word'])
tw.drop(tw[dw].index,inplace=True)
tpw=tw.copy()
postive_score=tpw['words'].count()
postive_score

385

# **total negative words**

In [ ]:
nw=pd.read_csv('/content/negative-words.txt')
nw

     Negative Words
0           2-faced
1           2-faces
2          abnormal
3           abolish
4        abominable
...             ...
4778           zaps
4779         zealot
4780        zealous
4781      zealously
4782         zombie

[4783 rows x 1 columns]

In [ ]:
dw=tw['words'].isin(nw['Negative Words'])
tw.drop(tw[dw].index,inplace=True)
tnw=tw.copy()
negative_score=tnw['words'].count()
negative_score

369

polarity score

In [ ]:
polerity_score=(postive_score-negative_score)/ ((postive_score + negative_score) + 0.000001)
polerity_score

0.021220159123050187

subjective score

In [ ]:
subjective_score = (postive_score + negative_score)/ ((total_word_after_cleaning) + 0.000001)
subjective_score

1.795238090963719

Average Sentence Length

In [ ]:
Average_Sentence_Length=totel_words/totel_sentence
Average_Sentence_Length

21.825

In [ ]:
tw['sllable']=tw.applymap(lambda s:s[:-2] if s[-2:] in ['es','ed'] else s)
tw['sllable_count']=tw['sllable'].str.count(r'[aeiou]')
tw

          words     sllable  sllable_count
3           web         web              1
4       browser     browser              2
12     features      featur              3
15         site        site              2
19   experience  experience              5
..          ...         ...            ...
863     members     members              2
866  affiliates    affiliat              4
868      solely      solely              2
871       learn       learn              2
872      more        more                2

[369 rows x 3 columns]

total sllable

In [ ]:
ts=tw['sllable_count'].sum()
ts

853

no of complex words

In [ ]:
tw=tw[tw['sllable_count']>2]
complex_words=tw['sllable_count'].count()
complex_words

119

# **percentage of complex words**

In [ ]:
percentage_comp_word=complex_words/total_word_after_cleaning
percentage_comp_word

0.2833333333333333

# **Fog Index**

In [ ]:
Fog_Index=0.4*(Average_Sentence_Length+percentage_comp_word)
Fog_Index

8.843333333333334

# **sllable count per word**

In [ ]:
scpw=ts/total_word_after_cleaning
scpw

2.030952380952381

I
he
him
her
it
me
she
them
they
us
we
you

count prsonal pronoun

In [ ]:
no_of_pronoun=0
for i in aw['words']:
  if i in ['I', 'he', 'him', 'her' ,'it' ,'me', 'she', 'them' ,'they' ,'us', 'we' ,'you']:
    no_of_pronoun+=1
print('total prounoun :-',no_of_pronoun)

total prounoun :- 51

character in each word

In [ ]:
aw['len']=aw.applymap(lambda x:len(x))
total_character=aw['len'].sum()
total_character

4050

average word length

In [ ]:
average_word_length=total_character/totel_words
average_word_length

4.639175257731959